h3:nth-child(1){
    color: pink;
}
#greycol{
    color: grey;
}
div:nth-child(5){
    color: red;
}
p:nth-child(7){
    color: green;
}
.yellow{
    color: yellow;
}
.subtitle{
    color: brown;
}
.text1{
    color: blueviolet;
}
.text2{
    color: yellow;
}
.text3{
    color: yellowgreen;
}
.text4{
    color: cadetblue;
}
.text5{
    color: chocolate;
}
.text6{
    color: aquamarine;
}
#text7{
    color: coral;
}
.text8{
    color: darkmagenta;
}
.subtitle2{
    color: darkblue;
}
.text9{
    color: aqua;
}
.text10{
    color: deeppink;
}
.text11{
    color: gold;
}
.text12{
    color: cornflowerblue;
}
.text13{
    color: lightblue;
}
.text14{
    color: lightgreen;
}
.subtitle3{
    color:chartreuse;
}
.text15{
    color: fuchsia;
}
.text16{
    color: blue;
}
.text17{
    color: darkblue;
}
#text-deutsch{
    color: mediumslateblue;
}
.text18{
    color: darkgrey;
}
.text19{
    color: lightskyblue;
}
.text20{
    color: burlywood;
}
.subtitle4{
    color: forestgreen;
}
.text21{
    color: indigo;
}
.text22{
    color: lightseagreen;
}
.text23{
    color: rgb(147, 110, 215);
}
.text24{
    color: midnightblue;
}
.text25{
    color: lightslategray;
}
.text26{
    color: darkmagenta;
}
.subtitle5{
    color: mediumslateblue;
}
.text27{
    color: darkslategray;
}
.text28{
    color: aquamarine;
}
.text29{
    color: lime;
}
.text30{
    color: firebrick;
}
.text31{
    color: olivedrab;
}
.text32{
    color: orangered;
}
.text33{
    color: tomato;
}